body {
    background-image: url("https://github.com/isabelparra/Basic-Portfolio/blob/master/assets/images/subtle_background.png?raw=true");   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
}

* {
    box-sizing: border-box;
}

/* general */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;

}

h1, h2, h3, p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
}

h2, h3 {
    font-size: 20px;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}


/* header */


#mastheader {
    position: fixed;
    z-index: 99;
    background: #ffffff;
    border-bottom: 2px solid lightgray;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
}

#logo {
    width: 250px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 90px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    float: left;
    text-decoration: none;

}

nav {
    float: right;
    margin-top: 25px;

}

nav a {
    display: inline-block;
    padding-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    margin-left: 15px;
}

nav a:first-child {
    border-left: 0 none;
}

/* footer */

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #ccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
   
}

h2, h3 {
    font-size: 32px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 15px;
    padding-bottom: 20px;
    line-height: 22px;
    font-weight: 300;
}

/* main */

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);

}

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}

/* portfolio */

.work {
    position: relative;
    float: left;
    width: 274px;
    overflow: auto;
    margin: 20px 0 25px;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background: #4aaaa5;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    border-bottom: 0;
    text-align: center;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

/*contact page */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

@media only screen and (max-width: 640px) {
    .container {
        width: 640px;
    }
    header {
        width: 640px;
    }

    #mastheader {
        position: static;
        margin: 0;
        max-width: 640px;
        width: 100%;

    }
    #logo {
        width: 640px;
        text-align: center;
    }

    nav {
       display: block;
        width: 640px;
        margin-top: 0;
        text-align: center; 
    }

    #main-container {
        width: 610px;
        margin: 0 auto;
        padding-top: 20px;
    }

/* portfolio */
    .work {
    position: relative;
    margin: auto;
    }
    }

